<div *ngIf="!sent">
  <app-dynamic-form [questions]="questions | async" (onSubmitFunction)="onSubmit($event)"
                    header="Forgot Password"
                    image="../../../../assets/logos/FinancialFutureLogo.svg"
                    submitButtonText="Send Password Link">
    <ng-template pTemplate="subtitle">
      <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
    </ng-template>
    <ng-template pTemplate="aboveSubmit">
      <div class="mb-3">
        <p-captcha siteKey="6LfbyesdAAAAAI8zb0t_dBLwYYbA63BpG5kFryAJ"
                   (onResponse)="showResponse($event)"></p-captcha>
      </div>
    </ng-template>
  </app-dynamic-form>
</div>
<div *ngIf="sent">
  <app-dynamic-form header="Email Sent"
                    subtitle="An email has been sent with a link to change your password"
                    image="../../../../assets/logos/FinancialFutureLogo.svg">
  </app-dynamic-form>
</div>
