<div *ngIf="!sent">
  <app-dynamic-form [questions]="questions | async" (onSubmitFunction)="onSubmit($event)"
                    [formOptions]="this.passwordsShouldMatch" header="Register"
                    image="../../../../assets/logos/FinancialFutureLogo.svg"
                    submitButtonText="Register">
    <ng-template pTemplate="subtitle">
      <span class="text-600 font-medium line-height-3">Already have an account?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/login">Log
        In!</a>
      <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
    </ng-template>
  </app-dynamic-form>
</div>
<div *ngIf="sent">
  <app-dynamic-form header="Verify Email"
                    subtitle="An email has been sent with a link to verify your account"
                    image="../../../../assets/logos/FinancialFutureLogo.svg">
  </app-dynamic-form>
</div>
