<div
  class="surface-card p-3 shadow-2 w-full h-full flex justify-content-start align-items-center flex-column text-600 font-medium"
  style="border-radius: 1.5rem">
  <div class="flex h-full w-full">
    <div style="min-width: 250px">
      <app-company-search (selectedCompanyChange)="selectCompany($event)" [invalid]="true" [selectedCompany]="selectedCompany"></app-company-search>
    </div>
    <div class="w-full h-full p-2 flex flex flex-column mx-3"
         style="border-radius: 1.5rem; border: var(--surface-d) solid 1px">
      <div class="flex w-full mb-3 justify-content-center align-items-center">
        <div class="text-600 font-medium line-height-3 flex">
          <span>Compensation Package</span>
        </div>
      </div>
      <div class="fw-full h-full flex flex-row mt-3">
        <div class="flex flex-column w-full h-full align-items-center pr-2">

          <span class="p-float-label mb-5 w-full">
              <input id="level-name-input" class="w-full" type="text" pInputText
                     [(ngModel)]="title">
              <label for="level-name-input">Title</label>
          </span>
          <span class="p-float-label mb-5 w-full">
            <p-inputNumber id="salary-input" class="w-full flex flex-column" [min]="0"
                           [(ngModel)]="baseSalary" inputId="locale-us" prefix="$" locale="en-US">
            </p-inputNumber>
              <label for="salary-input">Base Salary</label>
          </span>

          <span class="p-float-label mb-2 w-full">
            <p-inputNumber #bonusInput id="bonus-input" class="w-full flex flex-column" [min]="0"
                           (onInput)="addYearBonus($event, bonusInput)"
                           (onKeyDown)="keyDown($event, bonusInput)" inputId="locale-us" prefix="$"
                           locale="en-US">
            </p-inputNumber>
            <label for="bonus-input">Year Bonuses</label>
          </span>
          <div class="p-d-flex p-ai-center mb-5 w-full">
            <p-chip (onRemove)="removeBonus(i)" *ngFor="let bonus of yearBonuses; let i = index"
                    label="Year {{bonus.year}} - {{ bonus.dollarBonus | currency : 'USD' : 'symbol' : '1.0-0' }} "
                    [removable]="true"></p-chip>
          </div>
        </div>
        <div class="flex flex-column w-full h-full pr-2">
          <span class="p-float-label mb-5 w-full">
            <p-inputNumber id="401k-match-input" class="w-full flex flex-column" [min]="0"
                           [(ngModel)]="employerMatch" inputId="locale-us" suffix="%" locale="en-US">
            </p-inputNumber>
              <label for="401k-match-input">Employer 401k Match</label>
          </span>
          <span class="p-float-label mb-5 w-full">
            <p-inputNumber id="401k-match-end-input" class="w-full flex flex-column" [min]="0"
                           [(ngModel)]="employerMatchEnd" inputId="locale-us" suffix="%" locale="en-US">
            </p-inputNumber>
              <label for="401k-match-end-input">Employer 401k Match End</label>
          </span>
        </div>
      </div>
    </div>
    <div class="relative">
      <app-stock-comp-selector></app-stock-comp-selector>
<!--      <button pButton class="p-button-rounded p-button-text p-button-plain absolute top-0 right-0"-->
<!--              icon="pi pi-times"-->
<!--              (click)="hasStockCompensation = false;" style="position: absolute"></button>-->
    </div>
  </div>
  <div class="mt-3 flex w-full justify-content-end">
    <button pButton pRipple type="button" label="Cancel" (click)="clear()" class="p-button-text mr-3"></button>
    <button pButton pRipple type="button" label="Save" (click)="saveLevel()"></button>
  </div>
</div>
