<app-dynamic-form [questions]="questions | async" (onSubmitFunction)="onSubmit($event)"
                   header="Log In"
                  image="../../../../assets/logos/FinancialFutureLogo.svg"
                  submitButtonText="Log In">
  <ng-template pTemplate="subtitle">
    <span class="text-600 font-medium line-height-3">Don't have an account?</span>
    <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/register">Sign Up Today!</a>
    <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
  </ng-template>

  <ng-template pTemplate="aboveSubmit">
    <div class="flex align-items-center justify-content-between mb-6">
      <div class="flex align-items-center">
        <p-checkbox id="rememberMe" [binary]="true" styleClass="mr-2" [(ngModel)]="rememberMe"></p-checkbox>
        <label for="rememberMe">Remember me</label>
      </div>
      <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer" routerLink="/forgotpassword">Forgot
        password?</a>
    </div>
  </ng-template>
</app-dynamic-form>

