<div *ngIf="!showError && accountDetails && !changed && !expired"
     class="flex justify-content-center align-items-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-30rem md:w-30rem sm:w-30rem">
    <div class="text-center mb-5">
      <img src="../../../../assets/logos/FinancialFutureLogo.svg" alt="LOGO" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Reset Password</div>
      <span class="text-600 font-medium line-height-3">Hello {{accountDetails.firstName}}</span>
    </div>

    <form [formGroup]="resetPasswordForm" #form="ngForm"
          (ngSubmit)="onSubmitPassword()">
      <div>
        <label for="password" class="block text-900 font-medium mb-2">Password</label>
        <small
          *ngIf="form.submitted && f['password'].invalid && f['password'].errors && f['password'].errors['required']"
          id="password-notification" class="p-error">Password is required</small>
        <input id="password" type="password" pInputText class="w-full mb-3" formControlName="password"
               [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['password'].errors }">

        <label for="password" class="block text-900 font-medium mb-2">Confirm Password</label>
        <small
          *ngIf="form.submitted && f['confirmPassword'].invalid && f['confirmPassword'].errors && f['confirmPassword'].errors['required']"
          id="confirm-password-notification" class="p-error">Confirm password is required</small>
        <small
          *ngIf="form.submitted
            && !resetPasswordForm.hasError('required', 'confirmPassword')
            && !resetPasswordForm.hasError('required', 'password')
            && resetPasswordForm.hasError('mismatch')"
          id="matching-notification" class="p-error">Passwords do not match</small>
        <input id="confirmPassword" type="password" pInputText class="w-full mb-3 form-control"
               formControlName="confirmPassword"
               [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['confirmPassword'].errors }">
        <button pButton pRipple label="Save Changed Password" icon="pi pi-user" class="w-full"></button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="changed"
     class="flex justify-content-center align-items-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-30rem md:w-30rem sm:w-30rem">
    <div class="text-center mb-5">
      <img src="../../../../assets/logos/FinancialFutureLogo.svg" alt="LOGO" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Your password has been changed</div>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/login">Back to log in</a>
    </div>
  </div>
</div>
<div *ngIf="expired && !sent"
     class="flex justify-content-center align-items-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-30rem md:w-30rem sm:w-30rem">
    <div class="text-center mb-5">
      <img src="../../../../assets/logos/FinancialFutureLogo.svg" alt="LOGO" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">This link has expired</div>
      <div class="text-600 font-medium line-height-3 mb-6">Click to sent the link again</div>
      <p-captcha siteKey="6LfbyesdAAAAAI8zb0t_dBLwYYbA63BpG5kFryAJ"
                 (onResponse)="showResponse($event)"></p-captcha>
      <button pButton pRipple label="Resend Reset Password Link" (click)="resendLink()" [disabled]="!captchaVerified" icon="pi pi-user" class="w-full mt-3"></button>
    </div>
  </div>
</div>
<div *ngIf="sent"
     class="flex justify-content-center align-items-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-30rem md:w-30rem sm:w-30rem">
    <div class="text-center mb-5">
      <img src="../../../../assets/logos/FinancialFutureLogo.svg" alt="LOGO" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Email Sent</div>
      <span class="text-600 font-medium line-height-3">An email has been sent with a link to change your password</span>
    </div>
  </div>
</div>
<div *ngIf="showError"
     class="flex justify-content-center align-items-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-30rem md:w-30rem sm:w-30rem">
    <div class="text-center mb-5">
      <img src="../../../../assets/logos/FinancialFutureLogo.svg" alt="LOGO" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">An Error Has Occurred</div>
    </div>
  </div>
</div>
<p-toast></p-toast>
