<app-header-construction></app-header-construction>
<div class=" mt-5 flex flex-column justify-content-center align-items-center">
  <div class="text-7xl">Coming Soon!</div>
</div>
<div
  class="flex justify-content-center align-items-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-30rem md:w-30rem sm:w-30rem">
    <div class="flex flex-column">
      <div class="flex justify-content-center align-items-center">
        <img src="assets/logos/FinancialFutureLogo.svg" alt="Form Image" height="80" class="mb-3">
      </div>
      <p class="font-light text-xl">FinancialFuture.io will be a platform where you can make predictions about your
        personal financial future. We are working hard to develop this new platform so stay
        tuned and check back soon!</p>
      <p class="text-xl font-regular">Main Features:</p>
      <p class="text-xl font-light m-1">- Calculates predicted state and federal taxes</p>
      <p class="text-xl font-light m-1">- Financial predictions by the month</p>
      <p class="text-xl font-light m-1">- Add custom employee compensation packages</p>
      <div class="flex flex-row">
        <p class="text-xl font-light m-1">-
          Calculates what is needed for
        </p>
        <p class="text-xl font-semibold m-1" pTooltip="Financial Independence, Retire Early" tooltipPosition="bottom">
          FIRE
        </p>
      </div>
      <p class="text-xl font-light m-1">- Save and export predictions</p>
    </div>
  </div>
</div>
