<div *ngIf="!showError && accountDetails && !expired"
     class="flex justify-content-center align-items-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-30rem md:w-30rem sm:w-30rem">
    <div class="text-center mb-5">
      <img src="assets/logos/FinancialFutureLogo.svg" alt="LOGO" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Account has been enabled</div>
      <span class="text-600 font-medium line-height-3">You can now</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/login">log
        in!</a>
    </div>
  </div>
</div>
<div *ngIf="expired && !sent"
     class="flex justify-content-center align-items-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-30rem md:w-30rem sm:w-30rem">
    <div class="text-center mb-5">
      <img src="assets/logos/FinancialFutureLogo.svg" alt="LOGO" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">This link has expired</div>
      <div class="text-600 font-medium line-height-3 mb-6">Click to sent the link again</div>
      <p-captcha siteKey="6LfbyesdAAAAAI8zb0t_dBLwYYbA63BpG5kFryAJ"
                 (onResponse)="showResponse($event)"></p-captcha>
      <button pButton pRipple label="Resend Reset Password Link" (click)="resendLink()" [disabled]="!captchaVerified" icon="pi pi-user" class="w-full mt-3"></button>
    </div>
  </div>
</div>
<div *ngIf="sent"
     class="flex justify-content-center align-items-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-30rem md:w-30rem sm:w-30rem">
    <div class="text-center mb-5">
      <img src="assets/logos/FinancialFutureLogo.svg" alt="LOGO" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Verify Email</div>
      <span class="text-600 font-medium line-height-3">An email has been sent with a link to verify your account</span>
    </div>
  </div>
</div>
<div *ngIf="showError"
     class="flex justify-content-center align-items-center lg:px-8 md:px-6 px-4 py-8 surface-ground">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-30rem md:w-30rem sm:w-30rem">
    <div class="text-center mb-5">
      <img src="assets/logos/FinancialFutureLogo.svg" alt="LOGO" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">An Error Has Occurred</div>
    </div>
  </div>
</div>
<p-toast></p-toast>
