<div *ngIf="!showError && accountDetails && !expired">
  <app-dynamic-form header="Account has been enabled"
                    image="../../../../assets/logos/FinancialFutureLogo.svg">

    <ng-template pTemplate="subtitle">
      <span class="text-600 font-medium line-height-3">You can now</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/login">log
        in!</a>
      <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
    </ng-template>
  </app-dynamic-form>
</div>
<div *ngIf="expired && !sent">
  <app-dynamic-form header="This link has expired"
                    subtitle="Click to sent the link again"
                    image="../../../../assets/logos/FinancialFutureLogo.svg"
                    (onSubmitFunction)="resendLink()"
                    [captcha]="captchaVerified"
                    submitButtonText="Resend Reset Password Link">
    <ng-template pTemplate="aboveSubmit">
      <div class="mb-3">
        <p-captcha siteKey="6LfbyesdAAAAAI8zb0t_dBLwYYbA63BpG5kFryAJ"
                   (onResponse)="showResponse($event)"></p-captcha>
      </div>
    </ng-template>
  </app-dynamic-form>
</div>
<div *ngIf="sent">
  <app-dynamic-form header="Email Sent"
                    subtitle="An email has been sent with a link to verify your account"
                    image="../../../../assets/logos/FinancialFutureLogo.svg">
  </app-dynamic-form>
</div>
<div *ngIf="showError">
  <app-dynamic-form header="An Error Has Occurred"
                    image="../../../../assets/logos/FinancialFutureLogo.svg">
  </app-dynamic-form>
</div>
